<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@photo.pic, witdh:'300px') %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @photo.desc %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
